// CUSTOM RESOURCES

@font-face {
    font-family: 'Sacramento'; 
    src: url('../fonts/SACRAMENTO-REGULAR.TTF'); 

}

@font-face {
    font-family: 'Ananda Akchyar'; 
    src: url('../fonts/ANANDA-AKCHYAR-BOLD.ttf'); 
}

@font-face {
    font-family: 'GilroyLight'; 
    src: url('../fonts/GILROY-LIGHT.OTF'); 
}

@font-face {
    font-family: 'PoppinsLight'; 
    src: url('../fonts/POPPINS-LIGHT.TTF'); 
}

@font-face {
    font-family: 'Poppins'; 
    src: url('../fonts/POPPINS-REGULAR.TTF'); 
}

@font-face {
    font-family: 'PoppinsMedium'; 
    src: url('../fonts/POPPINS-MEDIUM.TTF'); 
}

@font-face {
    font-family: 'TwCenmtBold'; 
    src: url('../fonts/POPPINS-MEDIUM.TTF'); 
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F1F0F3;
}

.scaffold{
    position: relative;
    & > .appbar{
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 999;
        height: 92px;
        
        // background: linear-gradient(rgba($color: #000, $alpha: 0.8), rgba($color: #000000, $alpha: 0));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: 300ms;

        & > .leading{
            width: 100%;
            height: 60px;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            & > img{
                width: 38px;
                height: 38px;
            }
            & > .title{
                padding-top: 8px;
                padding-left: 10px;
                font-size: 16px;
                font-family: "Sacramento";
                color: #0d0d0d;
            }
        }

        & > .actions{
            // height: 40px;
            // transition: 300ms;
            width: 100%;
            background: white;
            > ul{
                height: 100%;
                display: flex;
                width: 100%;
                align-items: center;
                overflow: hidden;
                > li{
                    border: 1px solid #e1e1e1;
                    cursor: pointer;
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    padding: 4px 10px;
                    margin-right: -1px;
                    list-style-type: none;
                    transition: 400ms;
                    &:hover{
                        background-color: rgba($color: #bfbfbf, $alpha: 0.2);
                        > a{
                            color: #0d0d0d;
                        }
                    }
                    > a{
                        text-decoration: none;
                        font-family: "Ananda Akchyar";
                        color: #8D8D8D;
                        font-size: 20px;
                        transition: 300ms;
                        max-lines: 1;
                        white-space: nowrap;

                        &.active{
                            color: #0d0d0d;
                        }
                    }
                }
            }
        }
    }
    & > .body{
        & > .main-header-slider-section{
            width: 100%;
            & > .container{
                .main-header-slider{
                     li{
                        img{
                            width: 100%;
                            height: calc(100vh - 92px);
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                
                }
            }
        }

        & > .news-section, .sanbodhan-section, .third-section, .sansad-section{
            padding: 32px 32px;
            // height: 1000px;
            & > .container{
                & > .header{
                    margin: 32px 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    & > .title{
                        font-family: "Poppins";
                        font-size: 18px;
                        font-weight: bold;
                    }
                    & > .subTitle{
                        font-size: 16px;
                        color: #707070;
                    }
                }
                & > .featured-news{
                    display: flex;
                    flex-direction: column;
                    & > .row{
                        display: flex;
                        flex-direction: row;
                        & > .news-card{
                            cursor: pointer;
                            overflow: hidden;
                            margin: 14px 14px;
                            background-color: white;
                            transition: 300ms;
                            box-shadow: 1px 3px 10px #d6d6d6;
                            width: 50%;

                            &:hover{
                                box-shadow: 5px 5px 20px #d6d6d6;
                            }
                            & > img{
                                width: 100%;
                                object-fit: cover;
                                object-position: center;
                                height: 280px;
                            }
                            & > h1{
                                margin: 20px 16px 10px 16px;
                                font-style: normal;
                                font-family: "GilroyLight";
                                font-size: 18px;
                            }
                            & > p{
                                height: 100px;
                                margin: 10px 16px 20px 16px;
                                overflow: hidden;
                                line-height: 24px;
                                text-overflow: ellipsis;
                                font-family: "GilroyLight";
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        & > .third-section{
            background-color: white;
        }

        & > .thought-section{
            padding: 32px 32px;
            & > .container{
                & > .header{
                    margin: 32px 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    & > .title{
                        font-family: "Poppins";
                        font-size: 18px;
                        font-weight: bold;
                    }
                    & > .subTitle{
                        font-size: 16px;
                        color: #707070;
                    }
                }
                & > .featured-thought{
                    display: flex;
                    flex-direction: row;
                    & > .thought-card{
                        cursor: pointer;
                        overflow: hidden;
                        margin: 14px 14px;
                        background-color: white;
                        flex: 1;
                        transition: 300ms;
                        box-shadow: 1px 3px 10px #d6d6d6;

                        &:hover{
                            box-shadow: 5px 5px 20px #d6d6d6;
                        }
                        & > img{
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                            height: 280px;
                        }
                        & > h1{
                            margin: 20px 16px 10px 16px;
                            font-style: normal;
                            font-family: "GilroyLight";
                            font-size: 18px;
                        }
                        & > p{
                            height: 150px;
                            margin: 10px 16px 20px 16px;
                            overflow: hidden;
                            line-height: 24px;
                            text-overflow: ellipsis;
                            font-family: "GilroyLight";
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        & > .sansad-section{
            background-color: white;
        }

        & > .newspaper-section{
            padding: 32px 32px;
            & > .container{
                & > .header{
                    margin: 32px 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    & > .title{
                        font-family: "Poppins";
                        font-size: 18px;
                        font-weight: bold;
                    }
                    & > .subTitle{
                        font-size: 16px;
                        color: #707070;
                    }
                }
                & > .featured-newspaper{
                    display: flex;
                    flex-direction: row;
                    & > .newspaper-card{
                        cursor: pointer;
                        overflow: hidden;
                        margin: 14px 14px;
                        background-color: white;
                        flex: 1;
                        transition: 300ms;
                        box-shadow: 1px 3px 10px #d6d6d6;

                        &:hover{
                            box-shadow: 5px 5px 20px #d6d6d6;
                        }
                        & > img{
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                            height: 280px;
                        }
                        & > h1{
                            margin: 20px 16px 10px 16px;
                            font-style: normal;
                            font-family: "GilroyLight";
                            font-size: 18px;
                        }
                        & > p{
                            height: 150px;
                            margin: 10px 16px 20px 16px;
                            overflow: hidden;
                            line-height: 24px;
                            text-overflow: ellipsis;
                            font-family: "GilroyLight";
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        & > .footer-navigation-section{
            background-color: #0d0d0d;
            padding: 32px 32px;
            & > .container{
                display: flex;
                justify-content: space-around;

                & > .footer-navigation{
                    display: flex;
                    flex-direction: column;
                    
                    & > .title{
                        padding: 8px 0px;
                        font-size: 18px;
                        color: white;
                        font-family: "Poppins";
                    }
                    & > a{
                        text-decoration: none;
                        color: #707070;
                        font-family: "PoppinsLight";
                        font-size: 15px;
                        &:hover{
                            color: white;
                        }
                    }

                    & > .singleNav{
                        text-decoration: none;
                        color: #707070;
                        padding: 8px 0px;
                        font-family: "PoppinsLight";
                        font-size: 18px;
                        &:hover{
                            color: white;
                        }
                    }

                    
                }
            }
        }

        & > .footer-social-section{
            padding: 32px 32px;
            & > .container{
                & > .social-medias-icons{
                    display: flex;
                    justify-content: center;
                    & > a{
                        display: flex;
                        padding: 0px 10px;
                        transition: 400ms;
                        &:hover{
                            transform: scale(1.2);
                        }
                        
                    }
                }
                & > .copyright{
                    margin-top: 14px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    & > p{
                        text-align: center;
                        font-family: "TwCenmtBold";
                        color: #707070;
                        font-size: 14px;
                    }

                }
            }
            
        }
    }
}

@media screen and (max-width: 740px) {
    .scaffold{
        & > .appbar{
            // & > .leading{
            //     & > .title{
            //         > h1{
            //             font-size: 20px;
            //         }
            //     }
            // }
            & > .actions{
                // display: none;
                & > ul{
                    overflow-x: scroll;
                    overflow-y: hidden;
                    scroll-behavior: smooth;

                    &::-webkit-scrollbar{
                        display: none;
                    }
                }
            }
        }
        & > .body{
            & > .news-section, .sanbodhan-section, .third-section, .sansad-section{
                padding: 32px 10px;
                & > .container{
                    & > .featured-news{
                        & > .row{
                            flex-direction: column;
                            & > .news-card{
                                width: auto;
                                flex: 1;
                            }
                        }
                    }
                }
            }

            & > .thought-section{
                padding: 32px 10px;
                & > .container{
                    & > .featured-thought{
                        flex-direction: column;
                    }
                }
            }

            & > .newspaper-section{
                padding: 32px 10px;
                & > .container{
                    & > .featured-newspaper{
                        flex-direction: column;
                    }
                }
            }

            & > .footer-navigation-section{
                & > .container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    & > .footer-navigation{
                        align-items: center;
                    }
                }
            }
        }
    }
}